{% extends 'base.html' %}
{% load static %}

{% block title %}
  Actividades de Evento
{%endblock%}

{% block contains %}

{%include 'header2.html'%}

<div class="container mt-4 shadow-lg p-3 mb-5 bg-body rounded">
    <h3 class="title">Programaci&oacute; de Actividades</h3>
    
    <a href="#" id="btnCreate"><h2><i class="fa-regular fa-calendar-plus"></i> </h2> </a>
    <div class="table-responsive">
    <table id="tablatipos" class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Descripci&oacute;n</th>
                <th>Fecha Hora</th>
                <th>Duracion</th>
                <th>Estatus</th>
                <th>Charla</th>
                <th>Stand</th>
                <th>ID Personal</th>
                <th>Personal Responsable</th>
                <th>Evento</th>
               
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
</div>



<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Actividades</h5>
          <button type="button" class="btn-close" id="btnClose"></button>
        </div>
        <form>
            <div class="modal-body">
        
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Evento:</label>
                  <select name="evento" id="evento" class="form-select">
                    <option value="1"> MonagasInnova</option>
                </select>
                </div>
                
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                    <input type="text" id="name" name="name" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Descripci&oacute;n:</label>
                    <input type="text" id="description" name="description" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Fecha_Hora:</label>
                    <input type="datetime-local" id="datetim" name="datetim" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Duraci&oacute;n (Min):</label>
                    <input type="number" id="duracion" name="duracion" class="form-control">
                </div>
                
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Charla:</label>
                    <select name="speach" id="speach" class="form-select">
                        <option value="">--</option>
                        
                    </select>
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Stand:</label>
                    <select name="stand" id="stand" class="form-select">
                        <option value="">--</option>
                        
                    </select>
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Responsable:</label>
                    <select name="responsable" id="responsable" class="form-select">
                        <option value="">--</option>
                        
                    </select>
                </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCancel" >Cancelar</button>
                <button type="button submit" class="btn btn-primary">Almacenar</button>
              </div>
        </form>
      </div>
    </div>
  </div>






<a href="{% url 'home' %}"> home</a>

{% endblock %}

{% block addjs %}


<script>
    /*
    //endpoints
    //Activity    
    const url ="http://localhost:8000/Activity/";
    //Participantes
    const uexp = "http://localhost:8000/Personal/"
    //Charlas
    const uspeach = "http://localhost:8000/Speach/"
    //Stands
    const ustands = "http://localhost:8000/Stand/"
    */
    const urlactivity ="{{serverhost}}"+"/Activity/";
    const urlpart = "{{serverhost}}"+"/Part/";
    const urlspeach = "{{serverhost}}"+"/Speach/";
    const urlstands = "{{serverhost}}"+"/Stand/";
    const urlexp = "{{serverhost}}"+"/Personal/";

    
    const contenedor = document.querySelector("tbody")
    let resultados =''
    const modaltipo = new bootstrap.Modal(document.getElementById('Modal'))
    const formulario = document.querySelector("form")
    
    const evento = document.getElementById("evento")
    const nombre=document.getElementById("name") 
    const description=document.getElementById("description") 
    const datetim = document.getElementById("datetim")
    const duration = document.getElementById("duracion")
    const speach_select=document.getElementById("speach")
    const speach = speach_select.options[speach_select.selectedIndex].text
    
    const stand_select=document.getElementById("stand")
    const stand = stand_select.options[stand_select.selectedIndex].text
    
    
    const responsable_select=document.getElementById("responsable")
    const responsable = responsable_select.options[responsable_select.selectedIndex].text
    
    
    const btnClose=document.getElementById("btnClose")
    const btnCancel=document.getElementById("btnCancel")
    var opcion=''
    var nameubic=''
    
    
    btnCreate.addEventListener('click', ()=>{
        nombre.value = ''
        description.value=''
        speach_select.value=''
        stand_select.value=''
        duration.value=""
        responsable_select.value=""
        datetim.value = ""
        //ubicacion.value=''
        opcion='CREAR'
        modaltipo.show()
       
    })
    
    btnClose.addEventListener('click', ()=>{
        modaltipo.hide()
    })
    
    
    btnCancel.addEventListener('click', ()=>{
        modaltipo.hide()
    })
    
    
    
    
    //Funcion para mostrar resultados
    let valores=''
    const mostrar = (tipos) => {
        var table = $('#tablatipos').DataTable(
           
            {   "responsive": true,
                order: [[3, 'asc']],
                "lengthMenu": [[5,10, 25, 50, -1], [5,10, 25, 50, "todos"]],
                dom: 'Blfrtip',
                //buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                buttons: [],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            }  
            
        );
       

        

    
        const botEdit= '<a class="btnEditar"><i class="fa fa-pen-to-square"></i></a>'
        const botDel='<a class="btnBorrar"><i class="fa-solid fa-trash-can"></i></a>'
        tipos.Activity.forEach(tp => {
            var rowNode = table
                .row.add( 
                        [tp.id, tp.name, tp.description, tp.exact_date, tp.duration, tp.status, tp.speach_id, tp.stand_id,  tp.personal_id, tp.responsablename, tp.idevent_id,  botEdit, botDel]
                 )
                .draw()
              
        })
        
    }
    
    
    
    
    //Mostrar Listado

    fetch(urlactivity)
        .then(response =>response.json())
        .then( data => mostrar(data))
        .catch( error => console.log(error))
    
    
    
    
    const on = (element, event, selector, handler) => {
        element.addEventListener(event, e => {
            if(e.target.closest(selector)){
                handler(e)
            }
        })
    }    
    
    
    //Select de expositores
    
    const lista_respons = (uexp) => {
        var opt=''
        uexp.Personal.forEach(tp => {
            opt += "<option value='"
            opt += tp.id
            opt += "' >"
            opt += tp.name
            opt += "</option>" 
            $('#responsable').prepend(opt);
            opt=''
        })
        
    }
    
    //Obtener Expositores
    fetch(urlexp)
        .then(response =>response.json())
        .then( data => lista_respons(data))
        .catch( error => console.log(error))
    
    
    
    //Select de stands
    const lista_stands = (stds) => {
        var opt=''
        stds.Stands.forEach(tp => {
            opt += "<option value='"
            opt += tp.id
            opt += "' >"
            opt += tp.name
            opt += "</option>" 
            $('#stand').prepend(opt);
            opt=''
        })
        
    }
    //Obtener stands
    fetch(urlstands)
        .then(response =>response.json())
        .then( data => lista_stands(data))
        .catch( error => console.log(error))
    
    
    //Select de charlas
    const lista_speachs = (spe) => {
        var opt=''
        spe.Speach.forEach(tp => {
            opt += "<option value='"
            opt += tp.id
            opt += "' >"
            opt += tp.name
            opt += "</option>" 
            $('#speach').prepend(opt);
            opt=''
        })
        
    }
    //Obtener charlas
    fetch(urlspeach)
        .then(response =>response.json())
        .then( data => lista_speachs(data))
        .catch( error => console.log(error))
    
    
    
    
    
    //Procedimiento Borrar
    on (document, 'click', '.btnBorrar', e=>{
        const fila = e.target.parentNode.parentNode.parentNode
        const id = fila.firstElementChild.innerHTML
        const nombreael = fila.children[1].innerHTML
        alertify.confirm('Confirmar Borrado', 'Desea Eliminar el Registro de: ' + nombreael, function(){ 
                fetch(urlactivity+id, {method: 'DELETE'} )
                    .then( res => res.json()) 
                    .then(()=>location.reload())   }
                //alertify.success('Ok') }
            , function(){ 
                        alertify.error('Cancelado')});
    
    
    })
    
    //Procedimiento  Editar
    
    let idForm=0
    on (document, 'click', '.btnEditar', e=>{
        const fila = e.target.parentNode.parentNode.parentNode
        idForm = fila.firstElementChild.innerHTML
        //const nombref = fila.querySelector(".description").innerHTML
        
        const nombref = fila.children[1].innerHTML
        const descriptionf = fila.children[2].innerHTML
        const fechahf = new Date(Date.parse(fila.children[3].innerHTML))
        const durationf = fila.children[4].innerHTML
        const speachf = fila.children[6].innerHTML
        const standf = fila.children[7].innerHTML
        const responsable_idf = fila.children[8].innerHTML
        const eventof = fila.children[10].innerHTML
        
        
        nombre.value=nombref
        description.value=descriptionf
        evento.value = eventof
        responsable_select.value = responsable_idf
        stand_select.value = standf
        speach_select.value = speachf
        duration.value=durationf
        datetim.value= fechahf.toISOString().slice(0,16)
    
    
        
        opcion = 'EDITAR'
        modaltipo.show()
       
    })
    
    
    //Crear o editar
    formulario.addEventListener('submit', (e)=>{
        e.preventDefault()
        if(opcion=='EDITAR'){
            console.log(urlactivity+idForm+'/')
            fetch(urlactivity+idForm+'/', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    idevent_id: evento.value,
                    name : nombre.value,
                    description: description.value,
                    speach_id: speach_select.value,
                    stand_id:stand_select.value,
                    duration:duration.value,
                    exact_date:datetim.value,
                    personal_id:responsable_select.value,
                    estado:"0"
                })
            })
            .then( response => response.json())
            .then( response => location.reload())
        }
        if(opcion == 'CREAR'){
            fetch(urlactivity, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    idevent_id: evento.value,
                    name : nombre.value,
                    description: description.value,
                    speach_id: speach_select.value,
                    stand_id:stand_select.value,
                    duration:duration.value,
                    exact_date:datetim.value,
                    personal_id:responsable_select.value
                })
            })
            .then( response => response.json())
            .then( data => {
                const nuevotipo =[]
                nuevotipo.push(data)
                var table = $('#tablatipos').DataTable();
                table
                    .clear()
                    .draw();
                fetch(urlactivity)
                    .then(response =>response.json())
                    .then( response => location.reload())
                    
                    
            
            })
        }
        modaltipo.hide()
    })
    
    
    </script>

<style>
    body {
      background-image: url("../static/images/Optimizacion_de_imagenes.jpg");
  margin-top: 10%;

     }

     .title{
        color: #a707c0;
     }
     th{
        color: #a707c0;
     }
     a{
        color: #a707c0;
    
     }
		 .tablatipos{}
     @media (max-width:768px) {
     .tablatipos{
			/* transform: rotate(90deg); */
				/* background-color: #ffff; */
		 }
.test{
			/* transform: rotate(90deg); */
			/* width: fit-content; */
			/* height: 600px; */
			/* margin-left: 60px; */
}
		 /* .tablatipos td{ 
			background-color: aqua;
			width: 30px;
		 } */
}
    </style>
   
{% endblock %}