{% extends 'base.html' %}
{% load static %}


{% block title%}
Planes de Contingencias
{%endblock%}

{% block contains %}
{% include 'header2.html' %}

<div class="container mt-4 shadow-lg p-3 mb-5 bg-body rounded test">

    <h3>Planes de contingencia por Actividad</h3>
   
    
    <h2><a href="#"><i class="fa-solid fa-triangle-exclamation" id="btnCreate"></i> </a></h2>
    <div class="table-responsive">
    <table id="tablatipos" class="display compact table-responsive">
        <thead>
            <tr>
                <th>id</th>
                <th>descripcion</th>
                <th>Actividad Planeada</th>
                <th>Actividad Sustituta</th>
                <th>Evento</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
</div>



<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Participante</h5>
          <button type="button" class="btn-close" id="btnClose"></button>
        </div>
        <form>
            <div class="modal-body">
        
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Evento:</label>
                  <select name="evento" id="evento" class="form-select">
                    <option value="1"> MonagasInnova</option>
                </select>
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Descripcion:</label>
                    <input type="text" id="description" name="description" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Actividad :</label>
                    <select name="activity_from" id="activity_from" class="form-select">
                        <option value=""> --</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Actividad sustituta:</label>
                    <select name="activity_to" id="activity_to" class="form-select">
                        <option value=""> --</option>
                    </select>
                </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCancel" >Cancelar</button>
                <button type="button submit" class="btn btn-primary">Almacenar</button>
              </div>
        </form>
      </div>
    </div>
  </div>






<a href="{% url 'home' %}"> home</a>

{% endblock %}

{% block addjs %}

<script>
//const url ="http://localhost:8000/Contingency/";
//const urlact ="http://localhost:8000/Activity/"
const urlcontingency ="{{serverhost}}"+"/Contingency/";
const urlactivity ="{{serverhost}}"+"/Activity/";


const contenedor = document.querySelector("tbody")
let resultados =''
const modaltipo = new bootstrap.Modal(document.getElementById('Modal'))
const formulario = document.querySelector("form")
const evento = document.getElementById("evento")

const description=document.getElementById("description") 

const activity_from_select = document.getElementById("activity_from")
const activity_from_value = activity_from_select.options[activity_from_select.selectedIndex].text

const activity_to_select = document.getElementById("activity_to")
const activity_to_value = activity_to_select.options[activity_to_select.selectedIndex].text


const btnClose=document.getElementById("btnClose")
const btnCancel=document.getElementById("btnCancel")
var opcion=''
var nameubic=''


btnCreate.addEventListener('click', ()=>{
    description.value = ''
    activity_from_select.value=''
    activity_to_select.value=''
    opcion='CREAR'
    modaltipo.show()
})

btnClose.addEventListener('click', ()=>{
    modaltipo.hide()
})


btnCancel.addEventListener('click', ()=>{
    modaltipo.hide()
})


//Funcion para mostrar resultados
let valores=''
const mostrar = (tipos) => {
    var table = $('#tablatipos').DataTable(
        {
            "lengthMenu": [[5,10, 25, 50, -1], [5,10, 25, 50, "todos"]],
            dom: 'Blfrtip',
            //buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
            buttons: [],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        }    
    );

    const botEdit= '<a class="btnEditar"><i class="fa fa-pen-to-square"></i></a>'
    const botDel='<a class="btnBorrar"><i class="fa-solid fa-trash-can"></i></a>'
    tipos.Contingency.forEach(tp => {
        var rowNode = table
            .row.add( 
                    [tp.id, tp.description, tp.activity_id, tp.activity_to_id, tp.idevent_id, botEdit, botDel]
             )
            .draw()
          
    })
    
}




//Mostrar Listado
fetch(urlcontingency)
    .then(response =>response.json())
    .then( data => mostrar(data))
    .catch( error => console.log(error))



//select de actividades

const lista_actividades = (uexp) => {
    var opt=''
    uexp.Activity.forEach(tp => {
        opt += "<option value='"
        opt += tp.id
        opt += "' >"
        opt += tp.name
        opt += "</option>" 
        $('#activity_from').prepend(opt);
        $('#activity_to').prepend(opt);
        opt=''
    })
    
}

//listado selec de las actividades
fetch(urlactivity)
    .then(response =>response.json())
    .then( data => lista_actividades(data))
    .catch( error => console.log(error))







const on = (element, event, selector, handler) => {
    element.addEventListener(event, e => {
        if(e.target.closest(selector)){
            handler(e)
        }
    })
}    


//Procedimiento Borrar
on (document, 'click', '.btnBorrar', e=>{
    const fila = e.target.parentNode.parentNode.parentNode
    const id = fila.firstElementChild.innerHTML
    const nombreael = fila.children[1].innerHTML
    alertify.confirm('Confirmar Borrado', 'Desea Eliminar el Registro de: ' + nombreael, function(){ 
            fetch(urlcontingency+id, {method: 'DELETE'} )
                .then( res => res.json()) 
                .then(()=>location.reload())   }
            //alertify.success('Ok') }
        , function(){ 
                    alertify.error('Cancelado')});


})

//Procedimiento  Editar

let idForm=0
on (document, 'click', '.btnEditar', e=>{
    const fila = e.target.parentNode.parentNode.parentNode
    idForm = fila.firstElementChild.innerHTML
    //const nombref = fila.querySelector(".description").innerHTML
    const descriptionf = fila.children[1].innerHTML
    const activityfromf = fila.children[2].innerHTML
    const activitytof = fila.children[3].innerHTML
    const eventof = fila.children[4].innerHTML
   
    
    description.value=descriptionf
    activity_from.value = activityfromf
    activity_to.value = activitytof
    evento.value = eventof

    opcion = 'EDITAR'
    modaltipo.show()
   
})


//Crear o editar
formulario.addEventListener('submit', (e)=>{
    e.preventDefault()
    if(opcion=='EDITAR'){
        console.log(urlcontingency+idForm+'/')
        fetch(urlcontingency+idForm+'/', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                description:description.value,
                activity_id:activity_from.value,
                activity_to_id:activity_to.value,
                idevent_id:evento.value
                
            })
        })
        .then( response => response.json())
        .then( response => location.reload())
    }
    if(opcion == 'CREAR'){
        fetch(urlcontingency, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                description:description.value,
                activity_id:activity_from.value,
                activity_to_id:activity_to.value,
                idevent_id:evento.value
            })
        })
        .then( response => response.json())
        .then( data => {
            const nuevotipo =[]
            nuevotipo.push(data)
            var table = $('#tablatipos').DataTable();
            table
                .clear()
                .draw();
            fetch(urlcontingency)
                .then(response =>response.json())
                .then( response => location.reload())
                
                
        
        })
    }
    modaltipo.hide()
})


</script>
<style>
    body {
      background-image: url("../static/images/Optimizacion_de_imagenes.jpg");
  margin-top: 10%;

     }

     .title{
        color: #a707c0;
     }
     th{
        color: #a707c0;
     }
     a{
        color: #a707c0;
    
     }
		 .tablatipos{}
     @media (max-width:768px) {
     .tablatipos{
			/* transform: rotate(90deg); */
				/* background-color: #ffff; */
		 }
.test{
			/* transform: rotate(90deg); */
			/* width: fit-content; */
			/* height: 600px; */
			/* margin-left: 60px; */
}
		 /* .tablatipos td{ 
			background-color: aqua;
			width: 30px;
		 } */
}
    </style>
   
{% endblock %}