{% extends 'base.html' %}
{% load static %}

{% block contains%}
<div class="container mt-2 shadow-lg p-3 mb-3 bg-body rounded">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="../../index2.html" class="h1"><b>K</b>event</a>
    </div>
    <div class="card">
      <p >Error en Clave de Acceso. Incluya direcci&oacute;n de correo registrada para recuperar la clave. <br>
      Recibir&aacute; un correo con una clave temporal, por favor ingrese al sistema y cambie su clave por seguridad.
      </p>
     
      <p class="mt-3 mb-1">
        <a href="{% url 'login' %}">Reintentar</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{%endblock%}

