{% extends 'base.html' %}


{% block title %}
  Registro de Evento
{%endblock%}

{% block contains %}
{% include 'header2.html' %}

<div class=""></div>

<div  class="container mt-4 shadow-lg p-3 mb-5 bg-body rounded respon">
    <div class="title">
    <h3>Registro de Evento</h3> 
    
    <h2><a href="#"> <i class="fa fa-calendar-plus" id="btnCreate"></i> </a></h2>
    </div>
    <div class="table-responsive">
    <table id="tablatipos" class="display compact">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha Inicio</th>
                <th>Fecha Final</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
</div>



<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Participante</h5>
          <button type="button" class="btn-close" id="btnClose"></button>
        </div>
        <form>
            <div class="modal-body">
        
                 
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                    <input type="text" id="name" name="name" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Descripcion:</label>
                    <input type="text" id="description" name="description" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Fecha Inicio:</label>
                    <input type="datetime-local" id="startdate" name="startdate" class="form-control" >
                </div>

                
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Fecha Fin:</label>
                    <input type="datetime-local" id="enddate" name="enddate" class="form-control">
                </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCancel" >Cancelar</button>
                <button type="button submit" class="btn btn-primary">Almacenar</button>
              </div>
        </form>
      </div>
    </div>
  </div>






<a href="{% url 'home' %}"> home</a>

{% endblock %}

{% block addjs %}

<script>
const urlevent ="{{serverhost}}" + "/Evento/";



const contenedor = document.querySelector("tbody")
let resultados =''
const modaltipo = new bootstrap.Modal(document.getElementById('Modal'))
const formulario = document.querySelector("form")

//const evento = document.getElementById("evento")
const name = document.getElementById("name") 
const description=document.getElementById("description") 

const startdate=document.getElementById("startdate") 
const enddate=document.getElementById("enddate") 



const btnClose=document.getElementById("btnClose")
const btnCancel=document.getElementById("btnCancel")
var opcion=''
var nameubic=''


btnCreate.addEventListener('click', ()=>{
    description.value = ''
    name.value=''
    startdate.value=''
    enddate.value=''
    opcion='CREAR'
    modaltipo.show()
})

btnClose.addEventListener('click', ()=>{
    modaltipo.hide()
})


btnCancel.addEventListener('click', ()=>{
    modaltipo.hide()
})


//Funcion para mostrar resultados
let valores=''
const mostrar = (tipos) => {
    var table = $('#tablatipos').DataTable(
        {
            "lengthMenu": [[5,10, 25, 50, -1], [5,10, 25, 50, "todos"]],
            dom: 'Blfrtip',
            //buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
            buttons: [],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        }    
    );

    const botEdit= '<a class="btnEditar"><i class="fa fa-pen-to-square"></i></a>'
    const botDel='<a class="btnBorrar"><i class="fa-solid fa-trash-can"></i></a>'
    tipos.Evento.forEach(tp => {
        var rowNode = table
            .row.add( 
                    [tp.id, tp.name, tp.description, tp.start_date, tp.end_date, botEdit, botDel]
             )
            .draw()
          
    })
    
}




//Mostrar Listado
fetch(urlevent)
    .then(response =>response.json())
    .then( data => mostrar(data))
    .catch( error => console.log(error))



const on = (element, event, selector, handler) => {
    element.addEventListener(event, e => {
        if(e.target.closest(selector)){
            handler(e)
        }
    })
}    


//Procedimiento Borrar
on (document, 'click', '.btnBorrar', e=>{
    const fila = e.target.parentNode.parentNode.parentNode
    const id = fila.firstElementChild.innerHTML
    const nombreael = fila.children[1].innerHTML
    alertify.confirm('Confirmar Borrado', 'Desea Eliminar el Registro de: ' + nombreael, function(){ 
            fetch(url+id, {method: 'DELETE'} )
                .then( res => res.json()) 
                .then(()=>location.reload())   }
            //alertify.success('Ok') }
        , function(){ 
                    alertify.error('Cancelado')});


})

//Procedimiento  Editar

let idForm=0
on (document, 'click', '.btnEditar', e=>{
    const fila = e.target.parentNode.parentNode.parentNode
    idForm = fila.firstElementChild.innerHTML
    const nombref = fila.children[1].innerHTML
    const descriptionf = fila.children[2].innerHTML
    const startdatef = new Date(Date.parse(fila.children[3].innerHTML))
    const enddatef = new Date(Date.parse(fila.children[4].innerHTML))
    
   
    name.value=nombref
    description.value=descriptionf
    startdate.value = startdatef.toISOString().slice(0,16)
    enddate.value=enddatef.toISOString().slice(0,16)
    opcion = 'EDITAR'
    modaltipo.show()
   
})


//Crear o editar
formulario.addEventListener('submit', (e)=>{
    e.preventDefault()
    if(opcion=='EDITAR'){
        console.log(urlevent+idForm+'/')
        fetch(urlevent+idForm+'/', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name:name.value,
                description:description.value,
                start_date:startdate.value,
                end_date: enddate.value
                
            })
        })
        .then( response => response.json())
        .then( response => location.reload())
    }
    if(opcion == 'CREAR'){
        fetch(urlevent, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name:name.value,
                description:description.value,
                start_date:startdate.value,
                end_date: enddate.value
            })
        })
        .then( response => response.json())
        .then( data => {
            const nuevotipo =[]
            nuevotipo.push(data)
            var table = $('#tablatipos').DataTable();
            table
                .clear()
                .draw();
            fetch(urlevent)
                .then(response =>response.json())
                .then( response => location.reload())
                
                
        
        })
    }
    modaltipo.hide()
})


</script>

<style>
    body {
      background-image: url("../static/images/Optimizacion_de_imagenes.jpg");
      margin-top: 10%;
     }
     .container{
        /* width: 500px; */
    
     }
     .title{
        color: #a707c0;
     }
     th{
        color: #a707c0;
     }
     a{
        color: #a707c0;
    
     }
     @media (max-width:768px) {
        /* .responsive{
            transform: rotate(90deg);
            width: 80%;
            height: 20%;
        } */
    
    }
    </style>
   
{% endblock %}