{% load static %}
<header id="header" class="header-section">
        
    <nav id="nav-bar" class="navbar navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="">
            <a href="{% url 'home' %}" class="navbar-brand justify-content-start">
                <img src="{% static 'images/logo.png' %}" alt="#logoImg" height="50" width="50" >
                <h3 class="d-inline align-middle"> {{idevent.name}}</h3>
            </a>
        </div>
        <div class="d-flex justify-content-start">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="{% url 'eventos' %}" class="nav-link"><i class="fa-light fa-calendar-star"></i> Evento</a></li>
                    <li class="nav-item">
                        <a href="{% url 'participants' %}" class="nav-link">Participantes</a>
                    </li>
                    <li class="nav-item"><a href="{% url 'personal' %}" class="nav-link"> Responsable</a></li>
                    <li class="nav-item">
                        <a href="{% url 'speachs' %}" class="nav-link">Exposiciones/Charlas</a>
                    </li>
                    <li class="nav-item"> <a href="{% url 'stands' %}" class="nav-link"> Stands </a></li>
                    <li class="nav-item">
                        <a href="{% url 'activities' %}" class="nav-link">Programaci&oacute;n</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'Question' %}" class="nav-link">Cuestionarios</a>
                    </li>
                    <li class="nav-item">
                        <a href=" {% url 'contingency' %}" class="nav-link">Contingencias</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'timeline' %}" class="nav-link">L&iacute;nea de Tiempo</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link"> <i class="fa-solid fa-right-from-bracket"></i></a>
                    </li>


                </ul>
            </div>
        </div>
        </div>
    </nav>
</header>