{% load static %}
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand navbar-dark bg-dark" href="#">Opciones</a>
      <button class="navbar-toggler navbar-dark bg-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end navbar-dark bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Opciones</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="navbar-brand justify-content-start">
                    <img src="{% static 'images/logo.png' %}" alt="#logoImg" height="50" width="50" >
                    <h3 class="d-inline align-middle"> {{idevent.name}}</h3>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'eventos' %}" class="nav-link"><i class="fa fa-calendar-alt"></i> Evento</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'participants' %}" class="nav-link"><i class="fa fa-handshake"></i> Participantes</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'personal' %}" class="nav-link"><i class="fa fa-users-cog"></i> Responsable</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'speachs' %}" class="nav-link"><i class="fab fa-speakap"></i> Exposiciones/Charlas</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'stands' %}" class="nav-link"><i class="fa-solid fa-road-barrier"></i> Stands </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'activities' %}" class="nav-link"><i class="fa-regular fa-calendar"></i> Programaci&oacute;n</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'Question' %}" class="nav-link"><i class="fa-solid fa-question"></i> Cuestionarios</a>
            </li>
            <li class="nav-item">
                <a href=" {% url 'contingency' %}" class="nav-link"><i class="fa-solid fa-triangle-exclamation"></i> Contingencias</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'timeline' %}" class="nav-link"><i class="fa-solid fa-timeline"></i> L&iacute;nea de Tiempo</a>
            </li>

            
          </ul>
          
        </div>
      </div>
    </div>
  </nav>