{% extends 'base.html' %}
{% load static %}

    {% block title %}
       Control de Evento

    {% endblock %}

    {% block contains%}
    {% include 'header2.html' %}

    <section class="landing-page">
        <div class="container text-white main-section-text text-center">
            <img src="{% static 'images/logo.png' %}" class="img " alt="#logoImg" >
            <h2 class="display-2 s-size text-center"><small class="lead display-4">Fecha de Inicio:  </small>{{idevent.start_date}}</h2>  
            <h2 class="display-2 s-size text-center"><small class="lead display-4">Fecha de Final:  </small>{{idevent.end_date}}</h2>  
            <div class=" mt-5 p-3 text-center">
                <a href="{% url 'timeline' %}" class="nav-link">
                <button  class="btn btn-outline-light ml-4 mr-auto timelineButton" id="submit">Linea de Tiempo</button>
            </a>
            </div>
        </div>
        
 </section>
 <section id="connect" class="footer p-2 fixed-bottom bg-dark">
    <div class="container pt-2">
        <div class="row">
            <div class="col">
            <p class="s-size text-center">Evento Creado por: TECFIN212 c.a</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="" class="text-dark mx-2"><i class="fab fa-instagram"></i></a>
                <a href="" class="text-dark mx-2"><i class="fab fa-facebook"></i></a>
            </div>
        </div>

    </div>
</section>
    {% endblock %}
    
   