{% extends 'base.html' %}
{% load static %}

{% block contains%}
<div class="container mt-4 shadow-lg p-3 mb-5 bg-body rounded">
  <div class="login-logo">
   <!-- <a href="/home/"><b>MERX</b>ventas</a> -->
    
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Acceda para iniciar sesi&oacute;n</p>

    <form action="/login/" method="post"> {% csrf_token %}
      <div class="form-group has-feedback">
        <span class="fa  fa-user form-control-feedback"></span>
        <input type="text" name="usuario" class="form-control" placeholder="Indicador Usuario">
       
      </div>
      <div class="form-group has-feedback">
        <span class="fa fa-lock"></span>
        <input type="password" name="pass" class="form-control" placeholder="Password">
       
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
           
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- /.social-auth-links -->

 


  </div>

</div>

{%endblock%}


{% block addjs %}
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
{%endblock%}

