{% extends 'base.html' %}

{% load static %}
{% block title %}
  Participantes de Evento
{%endblock%}


{% block contains %}

{% include 'header2.html' %}

<div class=""></div>
<div class="container mt-4 shadow-lg p-3 mb-5 bg-body rounded respon">
    <div class="title">
        <h3>Participantes</h3>
        <h2><a href="#"> <i class="fa fa-handshake" id="btnCreate"></i> </a></h2>
    </div>
    <div class="table-responsive">
    <table id="tablatipos" class="display compact">
        <thead>
            <tr>
                <th>ID</th>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Representante de</th>
                <th>Tipo</th>
                <th>Teléfono</th>
                <th>Ubicación</th>
                <th>Evento</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
</div>



<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Participante</h5>
          <button type="button" class="btn-close" id="btnClose"></button>
        </div>
        <form>
            <div class="modal-body">
        
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Evento:</label>
                  <select name="evento" id="evento" class="form-select">
                    <option value="1"> MonagasInnova</option>
                </select>
                </div>

                <div class="row">

                        <div class="col mb-3">
                            <label for="recipient-name" class="col-form-label">DNI:</label>
                            <input type="text" id="dni" name="dni" class="form-control">
                           
                        </div>
                        <div class="col mb-3">
                            <label for="recipient-name" class="col-form-label">Nombre:</label>
                            <input type="text" id="name" name="name" class="form-control">

            
                        </div>

                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Representa o es integrante de :</label>
                    <input type="text" id="representant" name="representant" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Descripcion:</label>
                            <input type="text" id="description" name="description" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Tel&eacute;fono:</label>
                    <input type="text" id="phone" name="phone" class="form-control">
                </div>
                      
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Tipo:</label>
                    <select name="typep" id="typep" class="form-select">
                        <option value="E">Expositor</option>
                        <option value="S">Sponsor</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Ubicaci&oacute;n:</label>
                    <input type="text" id="ubication" name="ubication" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Foto:</label>
                    <input type="text" id="foto" name="foto" class="form-control">
                </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCancel" >Cancelar</button>
                <button type="button submit" class="btn btn-primary">Almacenar</button>
              </div>
        </form>
      </div>
    </div>
  </div>







{% endblock %}

{% block addjs %}

<script>
    //const url ="http://localhost:8000/Part/";
    const urlpart = "{{serverhost}}"+"/Part/";

   // alert(urlpart);
    
    const contenedor = document.querySelector("tbody")
    let resultados =''
    const modaltipo = new bootstrap.Modal(document.getElementById('Modal'))
    const formulario = document.querySelector("form")
    const evento = document.getElementById("evento")
    const nombre=document.getElementById("name") 
    const ci=document.getElementById("dni")
    const representa = document.getElementById("representant")
    const description=document.getElementById("description")
    const phone=document.getElementById("phone")
    const typep_select=document.getElementById("typep")
    //const ubicacion_select=document.getElementById("f_ubicacion")
    const typep_value = typep_select.options[typep_select.selectedIndex].text
    const foto=document.getElementById("foto")
    const btnClose=document.getElementById("btnClose")
    const btnCancel=document.getElementById("btnCancel")
    var opcion=''
    var nameubic=''
    
    
    btnCreate.addEventListener('click', ()=>{
        nombre.value = ''
        ci.value=''
        description.value=''
        representa.value =''
        //ubicacion.value=''
        opcion='CREAR'
        modaltipo.show()
       
    })
    
    btnClose.addEventListener('click', ()=>{
        modaltipo.hide()
    })
    
    
    btnCancel.addEventListener('click', ()=>{
        modaltipo.hide()
    })
    
    
    
    
    //Funcion para mostrar resultados
    let valores=''
    const mostrar = (tipos) => {
        var table = $('#tablatipos').DataTable(
            {
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "todos"]],
                dom: 'Blfrtip',
                //buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                buttons:[],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            }    
        );
    
        const botEdit= '<a class="btnEditar"><i class="fa fa-pen-to-square"></i></a>'
        const botDel='<a class="btnBorrar"><i class="fa-solid fa-trash-can"></i></a>'
        tipos.participante.forEach(tp => {
            if (tp.type_participant=="E"){
                tipomanttext='Expositor'
            }
            else { tipomanttext='Sponsor'}
            var rowNode = table
                .row.add( 
                        [tp.id, tp.dni, tp.name, tp.description_expositor, tp.representant,  tipomanttext, tp.phone, tp.ubication, tp.idevent_id, botEdit, botDel]
                 )
                .draw()
              
        })
        
    }
    
    
    
    
    //Mostrar Listado
    fetch(urlpart)
        .then(response =>response.json())
        .then( data => mostrar(data))
        .catch( error => console.log(error))
    
    
    
    
    const on = (element, event, selector, handler) => {
        element.addEventListener(event, e => {
            if(e.target.closest(selector)){
                handler(e)
            }
        })
    }    
    
    
    //Procedimiento Borrar
    on (document, 'click', '.btnBorrar', e=>{
        const fila = e.target.parentNode.parentNode.parentNode
        const id = fila.firstElementChild.innerHTML
        const nombreael = fila.children[1].innerHTML
        alertify.confirm('Confirmar Borrado', 'Desea Eliminar el Registro de: ' + nombreael, function(){ 
                fetch(urlpart+id, {method: 'DELETE'} )
                    .then( res => res.json()) 
                    .then(()=>location.reload())   }
                //alertify.success('Ok') }
            , function(){ 
                        alertify.error('Cancelado')});
    
    
    })
    
    //Procedimiento  Editar
    
    let idForm=0
    on (document, 'click', '.btnEditar', e=>{
        const fila = e.target.parentNode.parentNode.parentNode
        idForm = fila.firstElementChild.innerHTML
        //const nombref = fila.querySelector(".description").innerHTML
        const cif = fila.children[1].innerHTML
        const nombref = fila.children[2].innerHTML
        const descriptionf = fila.children[3].innerHTML
        const representaf = fila.children[4].innerHTML
        const phonef = fila.children[6].innerHTML
        const ubicatf = fila.children[7].innerHTML
        const eventof = fila.children[8].innerHTML
        var tipof=''
        if (fila.children[5].innerHTML == 'Expositor')
            tipof = 'E'
        else
            tipof = 'S'
    
        
        
        nombre.value=nombref
        ci.value = cif
        description.value = descriptionf    
        representa.value = representaf
        phone.value = phonef
        ubication.value = ubicatf
        evento.value = eventof
        typep_select.value = tipof
        opcion = 'EDITAR'
        modaltipo.show()
       
    })
    
    
    //Crear o editar
    formulario.addEventListener('submit', (e)=>{
        e.preventDefault()
        if(opcion=='EDITAR'){
            console.log(urlpart+idForm+'/')
            fetch(urlpart+idForm+'/', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name:nombre.value,
                    dni:ci.value,
                    description:description.value,
                    representant:representa.value,
                    ubication:ubication.value,
                    phone:phone.value,
                    evento:evento.value,
                    typep:typep_select.value,
                    foto:foto.value
                    
                })
            })
            .then( response => response.json())
            .then( response => location.reload())
        }
        if(opcion == 'CREAR'){
            fetch(urlpart, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name:nombre.value,
                    dni:ci.value,
                    description:description.value,
                    representant:representa.value,
                    ubication:ubication.value,
                    phone:phone.value,
                    evento:evento.value,
                    typep:typep_select.value,
                    foto:foto.value
                })
            })
            .then( response => response.json())
            .then( data => {
                const nuevotipo =[]
                nuevotipo.push(data)
                var table = $('#tablatipos').DataTable();
                table
                    .clear()
                    .draw();
                fetch(urlpart)
                    .then(response =>response.json())
                    .then( response => location.reload())
                    
                    
            
            })
        }
        modaltipo.hide()
    })
    
    
    </script>


<style>
body {
  background-image: url("../static/images/Optimizacion_de_imagenes.jpg");
  margin-top: 10%;
 }
 .container{
    /* width: 500px; */

 }
 .title{
    color: #a707c0;
 }
 th{
    color: #a707c0;
 }
 a{
    color: #a707c0;

 }
 @media (max-width:768px) {
    /* .responsive{
        transform: rotate(90deg);
        width: 80%;
        height: 20%;
    } */

}
</style>
   
{% endblock %}