{% extends 'base.html' %}

{% block title %}
  Personal de Evento
{%endblock%}


{% block contains %}

{% include 'header2.html' %}
<div class="container mt-4 shadow-lg p-3 mb-5 bg-body rounded">
    <h3>Personal Interno</h3>
   
    
    <h2><a href="#"> <i class="fa fa-users-cog" id="btnCreate"></i> </a></h2>
    <div class="table-responsive">
    <table id="tablatipos" class="display compact">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Equipo</th>
                <th>Evento</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
</div>



<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Participante</h5>
          <button type="button" class="btn-close" id="btnClose"></button>
        </div>
        <form>
            <div class="modal-body">
        
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Evento:</label>
                  <select name="evento" id="evento" class="form-select">
                    <option value="1"> MonagasInnova</option>
                </select>
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                    <input type="text" id="name" name="name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Telefono:</label>
                    <input type="text" id="phone" name="phone" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Equipo:</label>
                    <input type="text" id="type_resp" name="type_resp" class="form-control">
                </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCancel" >Cancelar</button>
                <button type="button submit" class="btn btn-primary">Almacenar</button>
              </div>
        </form>
      </div>
    </div>
  </div>






<a href="{% url 'home' %}"> home</a>

{% endblock %}

{% block addjs %}

<script>
//const url ="http://localhost:8000/Personal/";

urlexp = "{{serverhost}}"+"/Personal/"



const contenedor = document.querySelector("tbody")
let resultados =''
const modaltipo = new bootstrap.Modal(document.getElementById('Modal'))
const formulario = document.querySelector("form")
const evento = document.getElementById("evento")

const nombre=document.getElementById("name") 
const phone=document.getElementById("phone")

const type_resp=document.getElementById("type_resp")
//const ubicacion_select=document.getElementById("f_ubicacion")


const btnClose=document.getElementById("btnClose")
const btnCancel=document.getElementById("btnCancel")
var opcion=''
var nameubic=''


btnCreate.addEventListener('click', ()=>{
    nombre.value = ''
    phone.value=''
    type_resp.value =''
    opcion='CREAR'
    modaltipo.show()
})

btnClose.addEventListener('click', ()=>{
    modaltipo.hide()
})


btnCancel.addEventListener('click', ()=>{
    modaltipo.hide()
})


//Funcion para mostrar resultados
let valores=''
const mostrar = (tipos) => {
    var table = $('#tablatipos').DataTable(
        {
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "todos"]],
            dom: 'Blfrtip',
            //buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
            buttons: [],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        }    
    );

    const botEdit= '<a class="btnEditar"><i class="fa fa-pen-to-square"></i></a>'
    const botDel='<a class="btnBorrar"><i class="fa-solid fa-trash-can"></i></a>'
    tipos.Personal.forEach(tp => {
        var rowNode = table
            .row.add( 
                    [tp.id, tp.name, tp.phone, tp.type_resp, tp.idevent_id, botEdit, botDel]
             )
            .draw()
          
    })
    
}




//Mostrar Listado
fetch(urlexp)
    .then(response =>response.json())
    .then( data => mostrar(data))
    .catch( error => console.log(error))




const on = (element, event, selector, handler) => {
    element.addEventListener(event, e => {
        if(e.target.closest(selector)){
            handler(e)
        }
    })
}    


//Procedimiento Borrar
on (document, 'click', '.btnBorrar', e=>{
    const fila = e.target.parentNode.parentNode.parentNode
    const id = fila.firstElementChild.innerHTML
    const nombreael = fila.children[1].innerHTML
    alertify.confirm('Confirmar Borrado', 'Desea Eliminar el Registro de: ' + nombreael, function(){ 
            fetch(urlexp+id, {method: 'DELETE'} )
                .then( res => res.json()) 
                .then(()=>location.reload())   }
            //alertify.success('Ok') }
        , function(){ 
                    alertify.error('Cancelado')});


})

//Procedimiento  Editar

let idForm=0
on (document, 'click', '.btnEditar', e=>{
    const fila = e.target.parentNode.parentNode.parentNode
    idForm = fila.firstElementChild.innerHTML
    //const nombref = fila.querySelector(".description").innerHTML
    const nombref = fila.children[1].innerHTML
    const phonef = fila.children[2].innerHTML
    const type_respf = fila.children[3].innerHTML
    const eventof = fila.children[4].innerHTML
   
   

    
    
    nombre.value=nombref
    phone.value = phonef
    evento.value = eventof
    type_resp.value = type_respf
    opcion = 'EDITAR'
    modaltipo.show()
   
})


//Crear o editar
formulario.addEventListener('submit', (e)=>{
    e.preventDefault()
    if(opcion=='EDITAR'){
        console.log(urlexp+idForm+'/')
        fetch(urlexp+idForm+'/', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name:nombre.value,
                type_resp:type_resp.value,
                phone:phone.value,
                idevent_id:evento.value
                
            })
        })
        .then( response => response.json())
        .then( response => location.reload())
    }
    if(opcion == 'CREAR'){
        fetch(urlexp, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name:nombre.value,
                type_resp:type_resp.value,
                phone:phone.value,
                idevent_id:evento.value
            })
        })
        .then( response => response.json())
        .then( data => {
            const nuevotipo =[]
            nuevotipo.push(data)
            var table = $('#tablatipos').DataTable();
            table
                .clear()
                .draw();
            fetch(urlexp)
                .then(response =>response.json())
                .then( response => location.reload())
                
                
        
        })
    }
    modaltipo.hide()
})


</script>

<style>
    body {
      background-image: url("../static/images/Optimizacion_de_imagenes.jpg");
      margin-top: 10%;
     }
     .container{
        /* width: 500px; */
    
     }
     .title{
        color: #a707c0;
     }
     th{
        color: #a707c0;
     }
     a{
        color: #a707c0;
    
     }
     @media (max-width:768px) {
        /* .responsive{
            transform: rotate(90deg);
            width: 80%;
            height: 20%;
        } */
    
    }
    </style>
   
{% endblock %}