{% extends 'base.html' %}
{% load static %}

{% block title %}
Acceso a Preguta 

{% endblock %}

{% block contains%}


    <section class="landing-page">
        <div class="container text-white main-section-text text-left" >
            <img src="{% static 'images/logo.png' %}"  alt="#logoImg" width="10%" >
            </div>
            <div class=" mt-5 p-3 text-center ">
                {{ svg|safe }}
            </div>
            <div class=" mt-5 p-3 text-center ">

                <a href=" {% url 'question' pk=data %}" class="btn btn-primary">Pregunta</a>
                <a href="{% url 'timeline'  %}" class="btn btn-secondary"> Timeline</a>
                {% if userlog != 'N' %}
                    <a href="{% url 'winners' pk=data %}" class="btn btn-warning">Ganadores</a>
                {% endif %}
            </div>
        </div>
        
 </section>
    
{% endblock %}