{% extends 'base.html' %}
{% load static %}

{% block title %}
Acceso a Preguta 

{% endblock %}

{% block contains%}

<div class="modal-dialog shadow-lg">
    <div class="modal-content">

<form action=" {% url 'responsequestion' %}" method="POST"  enctype="multipart/form-data"> {% csrf_token %}
   
    {% for q in quest %}
    <div class="modal-header">
        <label for="recipient-name" class="col-form-label">Ingrese su N&uacute;mero de C&eacute;dula:</label>
    <input type="number" id="codigo" name="codigo" class="form-control" required>
        <input name="idquest" id="idquest" value="{{q.id}}" type="hidden" >
    </div>
    <div class="modal-body">    
        <h1>{{q.question }} </h1>
        <p>
            <span style="color:black">Seleccione su respuesta y presione "Enviar Respuesta"</span>
        </p> 
        <div class="container">
                <input type="radio" class="btn-check btn-lg btn-block" name="opt1" id="btn-check-outlined" autocomplete="off" value="1">
                <label class="btn btn-outline-success btn-lg btn-block" for="btn-check-outlined">1: {{q.response1}}</label><br>
                
                <input type="radio" class="btn-check" name="opt1" id="btn-check-2-outlined"  autocomplete="off" value="2">
                <label class="btn btn-outline-success btn-lg btn-block btn-lg btn-block" for="btn-check-2-outlined">2: {{q.response2}}</label><br>
                
                <input type="radio" class="btn-check" name="opt1" id="success-outlined" autocomplete="off"  value="3">
                <label class="btn btn-outline-success btn-lg btn-block" for="success-outlined">3: {{q.response3}}</label><br>
                
                <input type="radio" class="btn-check" name="opt1" id="danger-outlined" autocomplete="off" value="4">
                <label class="btn btn-outline-success btn-lg btn-block" for="danger-outlined">4: {{q.response4}}</label> 
        </div>


               
        
    
    </div>
        <div class="modal-footer">
            <div class="row">
               <div class="col">
                <a href="{% url 'timeline' %}" class="btn btn-secondary btn-block" id="btnCancel" >No Quiero Participar </a>
                </div>
                <div class="col">
                    <button type="button submit" class="btn btn-primary btn-block">Enviar Respuesta</button>
                </div>
            </div>
            
            
          </div>
        
        
        


    {% endfor %}
</form>


{% endblock %}