{% extends 'base.html' %}
{% load static %}


{% block title%}
Cuestionarios
{%endblock%}

{% block contains %}
{% include 'header2.html' %}

<div class="container mt-4 shadow-lg p-3 mb-5 bg-body rounded test">

    <h3>Cuestionarios</h3>
        
    <h2><a href="#"> <i class="fa-solid fa-question" id="btnCreate"></i> </a></h2>
    <div class="table-responsive">
    <table id="tablatipos" class="display compact table-responsive">
        <thead>
            <tr>
                <th>id</th>
                <th>Pregunta</th>
                <th>Respuesta1</th>
                <th>Respuesta2</th>
                <th>Respuesta3</th>
                <th>Respuesta4</th>
                <th>Respuesta Correcta</th>
                <th>Actividad Relacionada</th>
                <th>Evento</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
</div>



<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Participante</h5>
          <button type="button" class="btn-close" id="btnClose"></button>
        </div>
        <form>
            <div class="modal-body">
        
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Evento:</label>
                  <select name="evento" id="evento" class="form-select">
                    <option value="1"> MonagasInnova</option>
                </select>
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Pregunta:</label>
                    <input type="text" id="question" name="question" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Respuesta1 :</label>
                    <input type="text" id="response1" name="response1" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Respuesta2 :</label>
                    <input type="text" id="response2" name="response2" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Respuesta3 :</label>
                    <input type="text" id="response3" name="response3" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Respuesta4 :</label>
                    <input type="text" id="response4" name="response4" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Respuesta correcta:</label>
                    <select name="validresponse" id="validresponse" class="form-select">
                        <option value="1"> Respuesta 1</option>
                        <option value="2"> Respuesta 2</option>
                        <option value="3"> Respuesta 3</option>
                        <option value="4"> Respuesta 4</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Actividad Relacionada :</label>
                    <select name="activity_from" id="activity_from" class="form-select">
                        <option value=""> --</option>
                    </select>
                </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCancel" >Cancelar</button>
                <button type="button submit" class="btn btn-primary">Almacenar</button>
              </div>
        </form>
      </div>
    </div>
  </div>






<a href="{% url 'home' %}"> home</a>

{% endblock %}

{% block addjs %}

<script>
//const url ="http://localhost:8000/Questionary/";
const urlquestionary = "{{serverhost}}"+"/Questionary/";
const urlactivity ="{{serverhost}}"+"/Activity/";



const contenedor = document.querySelector("tbody")
let resultados =''
const modaltipo = new bootstrap.Modal(document.getElementById('Modal'))
const formulario = document.querySelector("form")
const evento = document.getElementById("evento")

const pregunta=document.getElementById("question") 
const respuesta1=document.getElementById("response1") 
const respuesta2=document.getElementById("response2") 
const respuesta3=document.getElementById("response3") 
const respuesta4=document.getElementById("response4") 

const validresponse_select = document.getElementById("validresponse")
const validresponse_value = validresponse_select.options[validresponse_select.selectedIndex].text


const activity_select = document.getElementById("activity_from")
const activity_value = activity_select.options[activity_select.selectedIndex].text




const btnClose=document.getElementById("btnClose")
const btnCancel=document.getElementById("btnCancel")
var opcion=''
var nameubic=''


btnCreate.addEventListener('click', ()=>{
    pregunta.value = ''
    activity_select.value=''
    validresponse_select.value=''
    opcion='CREAR'
    modaltipo.show()
})

btnClose.addEventListener('click', ()=>{
    modaltipo.hide()
})


btnCancel.addEventListener('click', ()=>{
    modaltipo.hide()
})


//Funcion para mostrar resultados
let valores=''
const mostrar = (tipos) => {
    var table = $('#tablatipos').DataTable(
        {
            "lengthMenu": [[5,10, 25, 50, -1], [5,10, 25, 50, "todos"]],
            dom: 'Blfrtip',
            //buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
            buttons: [],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        }    
    );

    const botEdit= '<a class="btnEditar"><i class="fa fa-pen-to-square"></i></a>'
    const botDel='<a class="btnBorrar"><i class="fa-solid fa-trash-can"></i></a>'
    tipos.Questionary.forEach(tp => {
        var rowNode = table
            .row.add( 
                    [tp.id, tp.question, tp.response1, tp.response2, tp.response3, tp.response4, tp.validresponse, tp.activity_id,  tp.idevent_id, botEdit, botDel]
             )
            .draw()
          
    })
    
}




//Mostrar Listado
fetch(urlquestionary)
    .then(response =>response.json())
    .then( data => mostrar(data))
    .catch( error => console.log(error))



//select de actividades

const lista_actividades = (uexp) => {
    var opt=''
    uexp.Activity.forEach(tp => {
        opt += "<option value='"
        opt += tp.id
        opt += "' >"
        opt += tp.name
        opt += "</option>" 
        $('#activity_from').prepend(opt);
       
        opt=''
    })
    
}

//listado selec de las actividades
fetch(urlactivity)
    .then(response =>response.json())
    .then( data => lista_actividades(data))
    .catch( error => console.log(error))







const on = (element, event, selector, handler) => {
    element.addEventListener(event, e => {
        if(e.target.closest(selector)){
            handler(e)
        }
    })
}    


//Procedimiento Borrar
on (document, 'click', '.btnBorrar', e=>{
    const fila = e.target.parentNode.parentNode.parentNode
    const id = fila.firstElementChild.innerHTML
    const nombreael = fila.children[1].innerHTML
    alertify.confirm('Confirmar Borrado', 'Desea Eliminar el Registro de: ' + nombreael, function(){ 
            fetch(urlquestionary+id, {method: 'DELETE'} )
                .then( res => res.json()) 
                .then(()=>location.reload())   }
            //alertify.success('Ok') }
        , function(){ 
                    alertify.error('Cancelado')});


})

//Procedimiento  Editar

let idForm=0
on (document, 'click', '.btnEditar', e=>{
    const fila = e.target.parentNode.parentNode.parentNode
    idForm = fila.firstElementChild.innerHTML
    //const nombref = fila.querySelector(".description").innerHTML
    const questionf = fila.children[1].innerHTML
    const response1f = fila.children[2].innerHTML
    const response2f = fila.children[3].innerHTML
    const response3f = fila.children[4].innerHTML
    const response4f = fila.children[5].innerHTML
    const validresponsef = fila.children[6].innerHTML
    const activityf = fila.children[7].innerHTML
    const eventof = fila.children[8].innerHTML
   
    
    question.value=questionf
    response1.value=response1f
    response2.value=response2f
    response3.value=response3f
    response4.value=response4f
    validresponse.value = validresponsef
    activity_select.value=activityf
    evento.value = eventof

    opcion = 'EDITAR'
    modaltipo.show()
   
})


//Crear o editar
formulario.addEventListener('submit', (e)=>{
    e.preventDefault()
    if(opcion=='EDITAR'){
        console.log(urlquestionary+idForm+'/')
        fetch(urlquestionary+idForm+'/', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                question:pregunta.value,
                response1:respuesta1.value,
                response2:respuesta2.value,
                response3:respuesta3.value,
                response4:respuesta4.value,
                validresponse:validresponse.value,
                activity_id:activity_select.value,
                idevent_id:evento.value
                
            })
        })
        .then( response => response.json())
        .then( response => location.reload())
    }
    if(opcion == 'CREAR'){
        fetch(urlquestionary, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                question:pregunta.value,
                response1:respuesta1.value,
                response2:respuesta2.value,
                response3:respuesta3.value,
                response4:respuesta4.value,
                validresponse:validresponse.value,
                activity_id:activity_select.value,
                idevent_id:evento.value
            })
        })
        .then( response => response.json())
        .then( data => {
            const nuevotipo =[]
            nuevotipo.push(data)
            var table = $('#tablatipos').DataTable();
            table
                .clear()
                .draw();
            fetch(urlcontingency)
                .then(response =>response.json())
                .then( response => location.reload())
                
                
        
        })
    }
    modaltipo.hide()
})


</script>
<style>
    body {
      background-image: url("../static/images/Optimizacion_de_imagenes.jpg");
  margin-top: 10%;

     }

     .title{
        color: #a707c0;
     }
     th{
        color: #a707c0;
     }
     a{
        color: #a707c0;
    
     }
		 .tablatipos{}
     @media (max-width:768px) {
     .tablatipos{
			/* transform: rotate(90deg); */
				/* background-color: #ffff; */
		 }
.test{
			/* transform: rotate(90deg); */
			/* width: fit-content; */
			/* height: 600px; */
			/* margin-left: 60px; */
}
		 /* .tablatipos td{ 
			background-color: aqua;
			width: 30px;
		 } */
}
    </style>
   
{% endblock %}