{% extends 'base.html' %}
{% load static %}

{% block title %}
Acceso a Preguta 

{% endblock %}

{% block contains%}

<div class="modal-dialog modal-lg shadow-lg">
    <div class="modal-content">
        <div class="modal-header bg-primary bg-gradient text-white">
            Mensaje de Respuesta
        </div>
        <h1 class="display-3 text-center" >
            {{mensaje|safe}}
        </h1>
        <a href="{% url 'timeline' %}" class="btn btn-secondary" id="btnCancel" >Regresar </a>
    </div>
</div>        


{% endblock %}