{% extends 'base.html' %}
{% load static %}

{% block title %}
  Stands de Evento
{%endblock%}


{% block contains %}


{% include 'header2.html' %}

<div class="container mt-4 shadow-lg p-3 mb-5 bg-body rounded">
    <h3 class="title">Stands</h3>
    
    <h2><a href="#" id="btnCreate"><i class="fa-solid fa-road-barrier"></i> </a></h2>
    <div class="table-responsive">
    <table id="tablatipos" class="display compact table-responsive">
        <thead>
            <tr>
                <th>id</th>
                <th>Cod</th>
                <th>Nombre</th>
                <th>id sponsor</th>
                <th>Sponsor</th>
                <th>Tipo</th>
                <th>Evento</th>
               
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
</div>



<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Stands</h5>
          <button type="button" class="btn-close" id="btnClose"></button>
        </div>
        <form>
            <div class="modal-body">
        
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Evento:</label>
                  <select name="evento" id="evento" class="form-select">
                    <option value="1"> MonagasInnova</option>
                </select>
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">C&oacute;digo:</label>
                    <input type="text" id="cod" name="cod" class="form-control">
                </div>
                
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Titulo:</label>
                    <input type="text" id="name" name="name" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Tipo:</label>
                    <select name="tipo" id="tipo" class="form-select">
                        <option value="G">GIGA</option>
                        <option value="T">TERA</option>
                        <option value="P">PETA</option>
                        
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Sponsor:</label>
                    <select name="expositor" id="expositor" class="form-select">
                        <option value="">--</option>
                        
                    </select>
                </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCancel" >Cancelar</button>
                <button type="button submit" class="btn btn-primary">Almacenar</button>
              </div>
        </form>
      </div>
    </div>
  </div>






<a href="{% url 'home' %}"> home</a>

{% endblock %}

{% block addjs %}

<script>
//const url ="http://localhost:8000/Stand/";
const urlstands = "{{serverhost}}"+"/Stand/"


//const uexp = "http://localhost:8000/Part/"
const urlpart ="{{serverhost}}"+"/Part/"



const contenedor = document.querySelector("tbody")
let resultados =''
const modaltipo = new bootstrap.Modal(document.getElementById('Modal'))
const formulario = document.querySelector("form")

const evento = document.getElementById("evento")
const cod = document.getElementById("cod")
const nombre=document.getElementById("name") 
const tipo_select=document.getElementById("tipo")
const tipo = tipo_select.options[tipo_select.selectedIndex].text

const expositor_select=document.getElementById("expositor")
const expositor = expositor_select.options[expositor_select.selectedIndex].text


const btnClose=document.getElementById("btnClose")
const btnCancel=document.getElementById("btnCancel")
var opcion=''
var nameubic=''


btnCreate.addEventListener('click', ()=>{
    nombre.value = ''
    cod.value=''
    tipo_select.value=''
    expositor_select.value=""
    //ubicacion.value=''
    opcion='CREAR'
    modaltipo.show()
   
})

btnClose.addEventListener('click', ()=>{
    modaltipo.hide()
})


btnCancel.addEventListener('click', ()=>{
    modaltipo.hide()
})




//Funcion para mostrar resultados
let valores=''
const mostrar = (tipos) => {
    var table = $('#tablatipos').DataTable(
        {
            "lengthMenu": [[5,10, 25, 50, -1], [5,10, 25, 50, "todos"]],
            dom: 'Blfrtip',
             // buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
            buttons:[],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        }    
    );

    const botEdit= '<a class="btnEditar"><i class="fa fa-pen-to-square"></i></a>'
    const botDel='<a class="btnBorrar"><i class="fa-solid fa-trash-can"></i></a>'
    tipos.Stands.forEach(tp => {
        var rowNode = table
            .row.add( 
                    [tp.id, tp.cod, tp.name, tp.participants_id, tp.paricipantname, tp.tip, tp.idevent_id,  botEdit, botDel]
             )
            .draw()
          
    })
    
}




//Mostrar Listado
fetch(urlstands)
    .then(response =>response.json())
    .then( data => mostrar(data))
    .catch( error => console.log(error))




const on = (element, event, selector, handler) => {
    element.addEventListener(event, e => {
        if(e.target.closest(selector)){
            handler(e)
        }
    })
}    


//Select de expositores

const lista_expositores = (uexp) => {
    var opt=''
    uexp.participante.forEach(tp => {
        opt += "<option value='"
        opt += tp.id
        opt += "' >"
        opt += tp.name
        opt += "</option>" 
        $('#expositor').prepend(opt);
        opt=''
    })
    
}

//Obtener Expositores
fetch(urlpart)
    .then(response =>response.json())
    .then( data => lista_expositores(data))
    .catch( error => console.log(error))



//Procedimiento Borrar
on (document, 'click', '.btnBorrar', e=>{
    const fila = e.target.parentNode.parentNode.parentNode
    const id = fila.firstElementChild.innerHTML
    const nombreael = fila.children[1].innerHTML
    alertify.confirm('Confirmar Borrado', 'Desea Eliminar el Registro de: ' + nombreael, function(){ 
            fetch(urlstands+id, {method: 'DELETE'} )
                .then( res => res.json()) 
                .then(()=>location.reload())   }
            //alertify.success('Ok') }
        , function(){ 
                    alertify.error('Cancelado')});


})

//Procedimiento  Editar

let idForm=0
on (document, 'click', '.btnEditar', e=>{
    const fila = e.target.parentNode.parentNode.parentNode
    idForm = fila.firstElementChild.innerHTML
    //const nombref = fila.querySelector(".description").innerHTML
    const codf = fila.children[1].innerHTML
    const nombref = fila.children[2].innerHTML
    const expositor_idf = fila.children[3].innerHTML
    const tipof = fila.children[5].innerHTML
    const eventof = fila.children[6].innerHTML
        
    cod.value = codf
    nombre.value=nombref
    evento.value = eventof
    expositor_select.value = expositor_idf
    tipo_select.value = tipof
    opcion = 'EDITAR'
    modaltipo.show()
   
})


//Crear o editar
formulario.addEventListener('submit', (e)=>{
    e.preventDefault()
    if(opcion=='EDITAR'){
        console.log(urlstands+idForm+'/')
        fetch(urlstands+idForm+'/', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                cod:cod.value,
                name:nombre.value,
                tip:tipo_select.value,
                idevent_id:evento.value,
                participants_id:expositor_select.value
                
            })
        })
        .then( response => response.json())
        .then( response => location.reload())
    }
    if(opcion == 'CREAR'){
        fetch(urlstands, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                cod:cod.value,
                name:nombre.value,
                tip:tipo_select.value,
                idevent_id:evento.value,
                participants_id:expositor_select.value
            })
        })
        .then( response => response.json())
        .then( data => {
            const nuevotipo =[]
            nuevotipo.push(data)
            var table = $('#tablatipos').DataTable();
            table
                .clear()
                .draw();
            fetch(urlstands)
                .then(response =>response.json())
                .then( response => location.reload())
                
                
        
        })
    }
    modaltipo.hide()
})


</script>
<style>
    body {
      background-image: url("../static/images/Optimizacion_de_imagenes.jpg");
  margin-top: 10%;

     }
     img{
        /* width: 500px; */
     }
    .title{
        color: #a707c0;
     }
     th{
        color: #a707c0;
     }
     a{
        color: #a707c0;
    
     }
    </style>
   
{% endblock %}