{% extends 'base.html' %}
{% load static %}
{% block title %}
   Linea de Tiempo    
{% endblock %}

{% block contains %}

<section id="cd-timeline" class="cd-container">

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
    </div>
  
    {% for a in act%}
    <div {% if a.status %} class="cd-timeline-content-block" {% else %} class="cd-timeline-content" {% endif %}>
      <div class="row">
        <div class="col-sm-2">
          {% if a.usuario %}
          <a href="{% url 'home' %}" class="navbar-brand justify-content-start">
              <img src="{% static 'images/logo.png' %}" alt="#logoImg" height="50" width="50" >
              <!--<h2 class="d-inline align-middle" style="color: #000000;"> {{idevent.name}}</h2>-->
          </a>
          {% else %}
          <img src="{% static 'images/logo.png' %}" alt="#logoImg" height="50" width="50" >
          {% endif %}
        </div>
        <div class="col">
          <h2 style="color: #000000;">{{a.name}} </h2>
        </div>
      </div>
      <div class="timeline-content-info">
        <!--
        <span class="timeline-content-info-date">
          Estado: {{a.estatus}}
        </span>
        -->
        <span class="timeline-content-info-title">
          {{a.dateex}}
          Duracion(Min): {{a.duration}}
        </span>
        {% if a.usuario %}
        <span class="timeline-content-info-date">
          Responsable: {{a.responsablename}}
        </span>
        {% endif %}
         

          </h3>
          {% if a.speach %}
            
            <p style="color: #000000;">
              <div class="row">
                <div class="col">
                  <img src="{% static a.foto %}" class="rounded-circle" width="100px" height="100px"> 
                </div>
                <div class="col"  style="color: #000000;">
                  <b>Charla:</b> {{a.speach.name}} <br> <b>Expos.:</b> {{a.expositor}}
                </div>
              </div>  
            </p>
          {% endif%}
          {% if a.stand%}
          <p> <b>Stand:</b> {{a.stand}}</p>
          {%endif%} 
          <span class="cd-date">{{a.exact_date}}</span>
          
          
          
        </div>
      {% if a.status %}

          <h1> ACTIVIDAD CONCLUIDA</h1>
      {% else %}
        <ul class="content-skills">
          {% if a.question_id %}
              <h1><a href="{% url 'qrquestion' pk=a.question_id %}" > <i class="fa fa-circle-question" style="color: #620884;"></i></a></h1> &nbsp;&nbsp;&nbsp;&nbsp;
          {% endif %}
              
              {% if a.usuario %}
               <!-- <h1 ><a href="#"> <i class="fa fa-radiation" id="btnCont" name ="btnCont" style="color: #620884;"></i></a></h1> &nbsp;&nbsp;&nbsp;&nbsp; -->
                <h1><a href="#" id="{{a.id}}"> <i class="fa fa-circle-xmark" id="btnTermi" style="color: #620884;"></i></a></h1>
              {% endif %}  
               
              </ul>
      {% endif %}
    </div> 
  </div> 
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
    </div> 
  {% endfor%}
  
</section> 

<!-- modal para reportar actividad de eventos-->

<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Activar Contingencia</h5>
        <button type="button" class="btn-close" id="btnClose"></button>
      </div>
      <form>
          <div class="modal-body">
      
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Evento:</label>
                <select name="evento" id="evento" class="form-select">
                  <option value="1"> MonagasInnova</option>
              </select>
              </div>
              <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Contingencia:</label>
                  <input type="text" id="question" name="question" class="form-control">
              </div>
              <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Razón :</label>
                  <input type="text" id="response1" name="response1" class="form-control">
              </div>

              
              <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Actividad Sustituta:</label>
                  <select name="validresponse" id="validresponse" class="form-select">
                      <option value="1"> Respuesta 1</option>
                      <option value="2"> Respuesta 2</option>
                      <option value="3"> Respuesta 3</option>
                      <option value="4"> Respuesta 4</option>
                  </select>
              </div>

                          
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="btnCancel" >Cancelar</button>
              <button type="button submit" class="btn btn-primary" id="btnAceptar">Almacenar</button>
            </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block addjs %}

<script>

//setTimeout(() => {
//  document.location.reload();
//}, 9000);


 //endpoints
//Activity    
//const url ="http://localhost:8000/Activity/";
//Participantes
const uexp = "{{serverhost}}" + "/Personal/";
//Charlas
//const uspeach = "{{serverhost}}" + "/Speach/";
//Stands
//const ustands = "http://localhost:8000/Stand/"


const urlactivity ="{{serverhost}}"+"/Activity/";
const urlpart = "{{serverhost}}"+"/Part/";
const urlspeach = "{{serverhost}}"+"/Speach/";
const urlstands = "{{serverhost}}"+"/Stand/";
const urlexp = "{{serverhost}}"+"/Personal/";


const contenedor = document.querySelector("tbody")
let resultados =''
const modaltipo = new bootstrap.Modal(document.getElementById('Modal'))
const formulario = document.querySelector("form")


const btnClose=document.getElementById("btnClose")
const btnCancel=document.getElementById("btnCancel")
//const btnC=document.getElementById("btnCont")
const btnTermi=document.getElementById("btnTermi")


//btnC.addEventListener('click', ()=> {modaltipo.show()})

btnClose.addEventListener('click', ()=> {modaltipo.hide()})

btnCancel.addEventListener('click', ()=> {modaltipo.hide()})



var opcion=''
var nameubic=''

const on = (element, event, selector, handler) => {
    element.addEventListener(event, e => {
        if(e.target.closest(selector)){
            handler(e)
        }
    })
}   

on (document, 'click', '.fa-circle-xmark', e=>{
  const fila = e.target.parentNode.parentNode
  const id = fila.firstElementChild.id // .innerHTML

 // alert("el id es..." + id);

  alertify.confirm('Confirmar Culminación', 'Va a terminar la actividad nro: '+id, function(){ 
        fetch(urlactivity+id+'/', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                idactivity:id,
                estado:"1"
            })
        })
        .then( response => response.json())
        .then( response => location.reload())
      }
      , function(){ 
                        alertify.error('Cancelado')}
      );
  //alert("Termino: "+id);
})





</script>

<script>

        (function() {

          
// VARIABLES
const timeline = document.querySelector(".timeline ol"),
  elH = document.querySelectorAll(".timeline li > div"),
  arrows = document.querySelectorAll(".timeline .arrows .arrow"),
  arrowPrev = document.querySelector(".timeline .arrows .arrow__prev"),
  arrowNext = document.querySelector(".timeline .arrows .arrow__next"),
  firstItem = document.querySelector(".timeline li:first-child"),
  lastItem = document.querySelector(".timeline li:last-child"),
  xScrolling = 280,
  disabledClass = "disabled";

// START
window.addEventListener("load", init);

function init() {
  setEqualHeights(elH);
  animateTl(xScrolling, arrows, timeline);
  setSwipeFn(timeline, arrowPrev, arrowNext);
  setKeyboardFn(arrowPrev, arrowNext);
}

// SET EQUAL HEIGHTS
function setEqualHeights(el) {
  let counter = 0;
  for (let i = 0; i < el.length; i++) {
    const singleHeight = el[i].offsetHeight;

    if (counter < singleHeight) {
      counter = singleHeight;
    }
  }

  for (let i = 0; i < el.length; i++) {
    el[i].style.height = `${counter}px`;
  }
}

// CHECK IF AN ELEMENT IS IN VIEWPORT
// http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
function isElementInViewport(el) {
  const rect = el.getBoundingClientRect();
  return (
    rect.top >= 0 &&
    rect.left >= 0 &&
    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
}

// SET STATE OF PREV/NEXT ARROWS
function setBtnState(el, flag = true) {
  if (flag) {
    el.classList.add(disabledClass);
  } else {
    if (el.classList.contains(disabledClass)) {
      el.classList.remove(disabledClass);
    }
    el.disabled = false;
  }
}

// ANIMATE TIMELINE
function animateTl(scrolling, el, tl) {
  let counter = 0;
  for (let i = 0; i < el.length; i++) {
    el[i].addEventListener("click", function() {
      if (!arrowPrev.disabled) {
        arrowPrev.disabled = true;
      }
      if (!arrowNext.disabled) {
        arrowNext.disabled = true;
      }
      const sign = (this.classList.contains("arrow__prev")) ? "" : "-";
      if (counter === 0) {
        tl.style.transform = `translateX(-${scrolling}px)`;
      } else {
        const tlStyle = getComputedStyle(tl);
        // add more browser prefixes if needed here
        const tlTransform = tlStyle.getPropertyValue("-webkit-transform") || tlStyle.getPropertyValue("transform");
        const values = parseInt(tlTransform.split(",")[4]) + parseInt(`${sign}${scrolling}`);
        tl.style.transform = `translateX(${values}px)`;
      }

      setTimeout(() => {
        isElementInViewport(firstItem) ? setBtnState(arrowPrev) : setBtnState(arrowPrev, false);
        isElementInViewport(lastItem) ? setBtnState(arrowNext) : setBtnState(arrowNext, false);
      }, 1100);

      counter++;
    });
  }
}

// ADD SWIPE SUPPORT FOR TOUCH DEVICES
function setSwipeFn(tl, prev, next) {
  const hammer = new Hammer(tl);
  hammer.on("swipeleft", () => next.click());
  hammer.on("swiperight", () => prev.click());
}

// ADD BASIC KEYBOARD FUNCTIONALITY
function setKeyboardFn(prev, next) {
  document.addEventListener("keydown", (e) => {
    if ((e.which === 37) || (e.which === 39)) {
      const timelineOfTop = timeline.offsetTop;
      const y = window.pageYOffset;
      if (timelineOfTop !== y) {
        window.scrollTo(0, timelineOfTop);
      }
      if (e.which === 37) {
        prev.click();
      } else if (e.which === 39) {
        next.click();
      }
    }
  });
}

})();
      </script>
<style>

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.cd-container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10%;
  border-radius: 2px;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #7E57C2;
}

.option-select{
  background: #2B343A;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
    width: fit-content;
    border-style: none;
    margin: 5px;
    height: 30px;
    border-radius: 5px;
}

.danger{
  border: 2px solid #7E57C2;
}

.danger:hover{
  background-color: #7E57C2;
  border-color: #2B343A;
  color: #2B343A;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3%;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7E57C2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
  background: #673AB7;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #ffffff; //#333C42;
  border-radius: 10px;
  padding: 1em;}

  .cd-timeline-content-block {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #979899;
  border-radius: 10px;
  padding: 1em;}

  .cd-timeline-content .timeline-content-info {
    background: #ffffff; //#2B343A;
    padding: 5px 10px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
  }
    .cd-timeline-content .timeline-content-info i {
      margin-right: 5px;
    }
    .timeline-content-info-title, .timeline-content-info-date {  
      width: calc(50% - 2px);
      display: inline-block;
      color: #2B343A;
      
    }
    @media (max-width: 500px) {
      .timeline-content-info-title, .timeline-content-info-date {  
        display: block;
        width:100%;
      } 
    }
  .content-skills {
    font-size: 12px;
    padding:0;
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;}
    .content-skills li {
      background: #40484D;
      border-radius: 2px;
      display: inline-block;
      padding: 2px 10px;
      color: rgba(255,255,255,0.7);
      margin: 3px 2px;
      text-align: center;
      flex-grow: 1;
    }
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(255,255,255,.9);
  margin-top:0;
  margin-bottom: 5px;
}
.cd-timeline-content p, .cd-timeline-content {
  color: rgba(255,255,255,.7);
  font-size: 13px;
  font-size: 0.8125rem;
}

.cd-date{
  color: #333C42;
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 10%
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333C42;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333C42;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}
</style>
{% endblock %}

